.home_page{
    width: 85%;
    margin: auto;
}
.home_page_title{
    margin: 20px 0 20px 0;
}
.card{
    position: relative;
}
.card_rate{
    font-size: 11px;
    background-color: white;
    border-radius: 20px;
    border: 4px solid rgb(67, 142, 117);
    color:  rgb(67, 142, 117);
    width: 30px;
    height: 30px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    left: 10px;
    top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.card_complete{
    font-size: 11px;
    background-color: white;
    border-radius: 20px;
    color:  rgb(220, 121, 0);
    /* width: 30px; */
    padding: 8px;
    /* height: 30px; */
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    right: 10px;
    top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.card_text_container{
    display: flex;
    align-items: center;
}
.watch_icon{
    color: #8A53C9;
    margin-right: 3px;
}